
/* Scaling font size */
html {
    font-size: 15px;
}

h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size:1.5vw;
  }

  .margins {
      display:grid;
      grid-template-columns: 10% 80% 10%
  }

  .house {
    grid-column: 2 / 3;
    display: flex;
    width:100%;
    margin:auto;
    justify-content: space-between;
    flex-direction: column;
    padding-top:5%; /* Reactive padding size for different screen sizing */
    padding-bottom:5%;
    align-items: center;
    margin: 2% 0 0 0;
  }

  .room {
    width: 80%;
    height: auto;
    margin-top: 2%;
  }


  @media only screen and (min-width: 500px) { 

  }
