
/* Scaling font size */
html {
    font-size: 15px;
}

h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size:1.5vw;
  }

  .margins {
      display:grid;
      width:100%;
      grid-template-columns: 10% 80% 10%
  }

  .house {
    grid-column: 2 / 3;
    display: flex;
    width:100%;
    margin:auto;
    justify-content: space-between;
    flex-direction: column;
    padding-top:5%; /* Reactive padding size for different screen sizing */
    padding-bottom:5%;
    align-items: center;
    margin: 2% 0 0 0;
  }

  .roomTower {
    margin-top: 2%;
    width: 100%;
    height: auto;
  }

  .roomHouse {
      display:none;
  }

  .roomText {
    position: absolute;
    bottom: 20%;
    left: 20%;
  }

  .roomContainer {
    position: relative;
    text-align: center;
    width:100%;
  }


  @media only screen and (min-width: 500px) { 
    .roomTower {
        display: none;
    }
    .roomHouse {
        display: inline;
        margin-top: 2%;
        width: 100%;
    }
    .house {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:2%;
    }
  }
